<section class="empty-bookmarks">
    <h2>No bookmarks</h2>    
    <img src="/assets/images/empty-bookmark.svg" alt="" width="50">
    <p>You have no bookmarks.</p>
    <p>Go to <a href="/webinars">webinars</a> and add your favorites!</p>
    <a href="/webinars" class="submit-button">View Webinars</a>
</section>