<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint 10</title>
    {% comment %} <link rel="stylesheet" href="/styles/styles.css"> {% endcomment %}
</head>
<body>
    
    <a href="#main" class="more-btn skip-link">Skip to main content</a>

    {% render "partials/header.liquid" %}