<header>
    <nav class="header-nav">
        <div class="nav-logos">
            <a href="/"><img src="/assets/logos/avl-logo.svg" alt="Go to Home" width="50"></a>
            <a href="/"><img src="/assets/logos/sardjito-logo.svg" alt="Go to Home" inert width="50"></a>
        </div>
        <div class="nav-links">
            <a href="/" class="nav-link">
                {% comment %} <img src="/assets/icons/home.svg" alt="" width="20"> {% endcomment %}
                {% render "public/assets/icons/home.liquid" %}
                Home
            </a>
            <a href="/webinars" class="nav-link">
                {% comment %} <img src="/assets/icons/webinars.svg" alt="" width="20"> {% endcomment %}
                {% render "public/assets/icons/webinars.liquid" %}
                Webinars
            </a>
            <a href="/contourings" class="nav-link">
                {% comment %} <img src="/assets/icons/contourings.svg" alt="" width="20"> {% endcomment %}
                {% render "public/assets/icons/contourings.liquid" %}
                Contourings
            </a>
            <a href="/bookmarks" class="nav-link">
                {% comment %} <img src="/assets/icons/bookmarks.svg" alt="" width="20"> {% endcomment %}
                {% render "public/assets/icons/bookmarks.liquid" %}
                Bookmarks
            </a>
            <a href="/profile" class="nav-link highlight-btn">
                {% comment %} <img src="/assets/icons/profile.svg" alt="" width="20"> {% endcomment %}
                {% render "public/assets/icons/profile-header.liquid" %}
                Profile
            </a>
        </div>
    </nav>
</header>