{% assign pageTitle = "Bookmarks | Oncollaboration" %}
{% include "partials/head.liquid" %}


<main id="main" class="page">
    <div class="breadcrumbs-links">
        <div class="breadcrumb-items">
            <a href="/">Home</a>
            <a href="/bookmarks">/ Bookmarks</a>
        </div>
    </div>
    
    <div class="page-title">
            <h1>Bookmarks</h1>
            <p>Your bookmarked webinars are saved here for easy access. Revisit expert insights and the latest practices in radiotherapy at your convenience. Stay up to date with advancements in the field, all in one place.</p>
        </div>

        {% if webinars.size == 0 %}
            {% include "partials/bookmarks-empty.liquid" %}
        {% else %}
            <div class="sort-filter">
                {% include "partials/sort-filter.liquid" %}
            </div>

            <section class="all-webinars">
                <h2>Overview bookmarks</h2>
                <div class="webinars-overview">
                    {% for webinar in webinars %}
                        {% include "partials/webinar-card.liquid" %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    </main>

    <script src="/scripts/bookmarks.js"></script>

{% include "partials/foot.liquid" %}