{% assign pageTitle = "Error | Oncollaboration" %}
{% include "partials/head.liquid" %}

<main id="main">
    <h1>404</h1>
    {% render "partials/error-state.liquid" %}
</main>

{% render "partials/foot.liquid" %}