{% assign pageTitle = "Home | Oncollaboration" %}
{% include "partials/head.liquid" %}

    <main class="main-index" id="main">
        <h1>Home</h1>

    <section class="error">
        <h2>In progress...</h2>    
        <p>Please continue to one of the pages</p>
        <div class="pages-overview">
            <a href="/webinars" class="webinars-btns submit-button">Webinars</a>
            <a href="/bookmarks" class="webinars-btns submit-button">Bookmarks</a>
        </div>
    </section>
    </main>

{% render "partials/foot.liquid" %}