{% assign pageTitle = "Home | Oncollaboration" %}
{% include "partials/head.liquid" %}

    <main class="main-index" id="main">
        <section class="introduction page-title">
            <h1>Oncollaboration</h1>
            <div class="info">
                <p>
                    Oncollaboration is an online platform created to support international cooperation and knowledge exchange between radiation oncology professionals in the Netherlands and Indonesia.
                </p>
                <p>
                    By hosting expert-led webinars, sharing educational resources, and fostering professional interaction, Oncollaboration strengthens global connections in the field of radiotherapy.
                </p>
            </div>
            <a href="#partnership" class="highlight-btn">More about Oncollaboration</a>
            <figure class="hero">
                <picture>
                    <source
                        srcset="
                            /assets/images/hero-extra-small.avif 360w,
                            /assets/images/hero-small.avif 720w,
                            /assets/images/hero-medium.avif 1440w,
                            /assets/images/hero-large.avif 2880w,
                        "
                        sizes="
                            (max-width: 360px) 260px,
                            (max-width: 720px) 720px,
                            (max-width: 1440px) 1440px,
                            (max-width: 2880px) 2880px
                        "
                        type="image/avif"
                    />
                    <img 
                        src="/assets/images/hero-small.avif" 
                        alt="5 doctors talking to each other" 
                        width="720" ~
                        height="290" 
                        loading="eager"
                    >
                </picture>
            </figure>
        </section>

        <section class="partnership page-title">
            <h2>A Global Partnership</h2>
            <div class="info">
               <p>
                    The radiation Oncology Webinar Series is a collaboration between the Deparment of Radiology, Faculty of Medicine, Public Health, and Nursing, Universitas Gadjah Mada and the Antoni van Leeuwenhoek Netherlands Cancer Institute
                </p> 
            </div>
            <div class="scroller" data-direction="left" data-speed="fast">
                <div class="scroller-content">
                    <img class="img1" src="/assets/images/partnership/logo1.png" alt="Logo Universitas Gadjah Mada" width="160" height="160"> 
                    <img src="/assets/images/partnership/logo2.png" alt="Logo Departemen Kesahatan R.I." width="160" height="160"> 
                    <img src="/assets/images/partnership/logo3.png" alt="Logo IDGNH" width="160" height="160"> 
                    <img src="/assets/images/partnership/logo4.png" alt="Logo Nederlandse Vereniging voor Radiotherapie en Oncologie" width="160" height="160"> 
                    <img src="/assets/images/partnership/logo5.png" alt="Logo Amsterdam UMC" width="160" height="160"> 
                    <img src="/assets/images/partnership/logo6.svg" alt="Logo Antoni van Leeuwenhoek" width="160" height="160"> 
                </div>
            </div>
            <div class="more-link-arrow">
                <a href="/">More about Oncollaboration</a>
                <img src="/assets/icons/arrow-home.svg" alt="" width="20" height="25">
            </div>
            <div class="bg-section"></div>
        </section>

        <section class="webinars-about page-title">
            <h2>Webinars</h2>
            <div class="about-content">
                <ul>
                    <li>
                        <img src="/assets/icons/checkmark.svg" alt="" width="20" height="20" loading="lazy">
                        Focused sessions on specific clinical topics in radiotherapy
                    </li>
                    <li>
                        <img src="/assets/icons/checkmark.svg" alt="" width="20" height="20" loading="lazy">
                        Live presentations with Q&A
                    </li>
                    <li>
                        <img src="/assets/icons/checkmark.svg" alt="" width="20" height="20" loading="lazy">
                        Recordings and resources available for later viewing
                    </li>                                        
                </ul>
            </div>
        </section>

        <section class="latest-webinar">
            <h2>Latest Webinar</h2>
            {% for webinar in webinars %}
                {% include "views/partials/webinar-card.liquid" %}
            {% endfor %}
            <div class="more-link-arrow">
                <a href="/webinars">View all webinars</a>
                <img src="/assets/icons/arrow-home.svg" alt="" width="20" height="25">
            </div>           
            <div class="bg-section"></div>
        </section>
    </main>

    <script src="/scripts/index.js"></script>

{% include "partials/foot.liquid" %}
