{% assign pageTitle = "Webinars | Oncollaboration" %}
{% include "partials/head.liquid" %}


<main id="main" class="page">
        <div class="breadcrumbs-links">
            <div class="breadcrumb-items">
                <a href="/">Home</a>
                <a href="/webinars">/ Webinars</a>
            </div>
        </div>
        
        <div class="page-title">
            <h1>Webinars</h1>
            <p>Browse our selection of webinars on radiotherapy, featuring expert insights and up-to-date practices. Watch at your convenience and stay informed on the latest advancements in the field.</p>
        </div>

        <div class="sort-filter">
            {% include "partials/sort-filter.liquid" %}
        </div>
        
        <section class="all-webinars">
            <h2>Overview webinars</h2>
            <div class="webinars-overview">
                {% for webinar in webinars %}
                    {% include "partials/webinar-card.liquid" %}
                {% endfor %}
            </div>          
        </section>
    </main>

    <script src="/scripts/webinars.js"></script>
    
{% include "partials/foot.liquid" %}