/* unwrapped css */
.empty-bookmarks {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.empty-bookmarks img {
    width: 50vw;
    max-width: 150px;
}

.empty-bookmarks p a {
    font-weight: var(--font-weight-bold, 700);
    text-decoration: underline;
    transition: var(--transition, .2s ease-in);
}

.empty-bookmarks p a:hover {
    color: var(--secondary, #19B2A2);
}
