.filter-sort {
    background-color: var(--primary-light, #E6E5EB);
    border-radius: 1rem;
    padding: 1rem 1rem;
    width: 90vw;
    max-width: 1087px;

    display: flex; 
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

@supports not (gap: 1rem) {
    .filter-sort {
        margin-bottom: 1rem;
    }
}

.sort {
    display: flex; 
    flex-direction: column;
    align-items: start; 
    gap: .5rem;
    
    select {
        cursor: pointer;
        border: none; 
        background-color: var(--secondary-light, rgba(25, 178, 162, 0.5));
        padding: .5rem 1rem;
        border-radius: 5px;
        /* height: 2rem; */
        color: #1F307A;
        font-size: 1rem;
        font-weight: var(--font-weight-bold, 700);
    }

    @media (min-width: 450px) {
        flex-direction: row;
        align-items: center;
    }
}

.filter {
    display: flex; 
    flex-direction: column;
    align-items: start;
    gap: .5rem;
    width: 100%;
}

.filters {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    max-width: 100%;
}

@supports not (gap: .5rem) {
    .sort, .filter {
        margin-bottom: .5rem;
    }

    .filters label {
        margin-right: .5rem;
        margin-top: .5rem;
    }
}

@supports not (display: flex) {
    .filter-sort, .sort, .filter {
        display: block;
    }

    .filter {
        margin-bottom: .5rem;
    }

    .filters label {
        display: inline; 
        margin-right: .5rem;
    }
}

.filters label {
    display: inline; 
    cursor: pointer;
    color: #1F307A;
    font-size: 1rem;
    font-weight: var(--font-weight-bold, 700);
    background-color: var(--secondary, #19B2A2);
    padding: .5rem 1rem;
    border-radius: 5px;
    transition: .2s ease-in-out;
    max-width: fit-content;

    &:hover {
        background-color: var(--secondary-light, rgba(25, 178, 162, 0.5));
    }
}

.filters input[type="radio"] {
    appearance: none;
    position: absolute; 
    opacity: 0; 
}

.filters input[type="radio"]:checked + label {
    background-color: var(--secondary-light, rgba(25, 178, 162, 0.5));
}


.filters label:has(input[type="radio"]:checked) {
    background-color: var(--secondary-light, rgba(25, 178, 162, 0.5));
}