/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

@font-face {
    font-family: "VAGRundschriftD";
    font-style: normal;
    font-weight: normal;
    src: local("VAGRundschriftD"), url("/assets/font/VAGRundschriftD.woff") format("woff");
}

* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0; 
}

body {
    --primary: #1F307D; 
    --primary-light: #E6E5EB; 
    --secondary: #19B2A2; 
    --secondary-light: rgba(25, 178, 162, 0.5);
    --tertiary: #6A0025;
    --highlight: #DBE002; 
    --light: white; 
    --background-color: #F7F5F5; 

    background-color: var(--background-color, #F7F5F5);
    color: var(--primary, #1F307D);

    --font-family-headings: "VAGRundschriftD";
    --font-family-body: "Open Sans", sans-serif; 
    --font-weight-light: 300;  
    --font-weight-regular: 400;  
    --font-weight-medium: 500;  
    --font-weight-semibold: 600;  
    --font-weight-bold: 700;  
    --font-weight-extrabold: 800;  

    font-family: var(--font-family-body, "Open Sans", sans-serif);
    font-weight: var(--font-weight-regular, 400);
    font-size: 16px;

    h1, h2, h3, h4 {
        font-family: var(--font-family-headings, "VAGRundschriftD", sans-serif);
    }
        
    a {
        text-decoration: none;
        color: inherit;
        --transition: .2s ease-in; 
    }

    ul {
        list-style-type: none;
    }

    button {
        cursor: pointer;
        appearance: none;
        background-color: none;
        border: none;

        &.highlight-btn {
            --btn-transition: .2s ease-in; 
            transition: var(--btn-transition, .2s ease-in);
            font-size: 16px; 
            &:hover {
                --background-color: rgb(186, 189, 0);
                background-color: var(--background-color, #babd00);
            }
        }
    }
}

.highlight-btn {
    --btn-transition: .2s ease-in; 
    --border-radius: 5px 16px 5px 5px;
    --btn-padding: .25rem .5rem; 
    transition: var(--btn-transition, .2s ease-in);
    color: var(--primary, #1F307D);
    background-color: var(--highlight, #DBE002);
    padding: var(--btn-padding, .25rem .5rem);
    border-radius: var(--border-radius, 5px 16px 5px 5px);
    &:hover {
        background-color: var(--background-color, #F7F5F5);
    }
}

.submit-button {
    --btn-transition: .2s ease-in; 
    --border-radius: 5px 5px 5px 5px;
    --btn-padding: .5rem 1rem; 
    transition: var(--btn-transition, .2s ease-in);
    color: var(--light, white);
    font-weight: var(--font-weight-bold, 700);
    font-size: 1rem;
    background-color: var(--primary, #1F307D);
    padding: var(--btn-padding, .5rem 1rem);
    border-radius: var(--border-radius, 5px 5px 5px 5px);
    &:hover {
        background-color: var(--secondary, #19B2A2);
    }    
}

/* A11Y */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.skip-link {
    position: absolute; 
    top: 5rem;
    left: -500px;
    z-index: 999;
    transition: var(--text-hover-transition); 
    background-color: var(--highlight, #DBE002);
    color: var(--primary, #1F307D);
    font-weight: var(--font-weight-bold);
    padding: .5rem 1rem;
 
    &:focus {
     left: 3rem;
    }
}

.page-title {
    max-width: 585px; 
    /* FLEX parent */
    display: flex; 
    flex-direction: column; 
    align-items: start;
    gap: .5rem;
}

@supports not (gap: .5rem){
    .page-title {
        margin-bottom: .5rem;
    }
}

@supports not (display: flex){
    .page-title {
        margin-bottom: .5rem;
        display: block; 
    }
}

main {
    max-width: 1350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 0 1rem;
    padding-bottom: 266px;
    /* padding-bottom: 10rem; */
}

@supports not (display: flex){
    main {
        margin-bottom: 1rem;
        display: block; 
    }
}

@supports not (gap: 1rem) {
    main {
        margin-bottom: 6    rem;
    }
}